<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My LIST</title>
</head>
<body>
<h1>Add a new task</h1>
<form method="post">
<input name="deadLine" type="datetime-local" required min="2018-06-27T00:00" required placeholder="Input the end date of task">
<input name="description" type="text" required placeholder="Input the text">
<input type="submit" value="Add task">
</form>
<a href="/tasks">Find all tasks</a>
<a href="/form">Add new task</a>
</body>
</html>