<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My LIST</title>
</head>
<body>
<h1>Welcome to task app</h1>
<a href="/tasks">Find all tasks</a>
<a href="/form">Add new task</a>
</body>
</html>
