<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Success</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <style type="text/css">
 h1 {
	color: green;
}
body{
background: lime;
}
</style>
</head>
<body>
<div class="col-md-4">
<nav id="sidebar" class="navbar navbar-dark">
        <div class="list-group">
<a class="list-group-item"  href="/tasks">Find all tasks</a>
<a class="list-group-item" href="/form">Add new task</a>
</div>
</nav>
</div>
<h1 class="text-center">New task was added</h1>
</form>
</body>
</html>